{% extends 'Base.html' %}
{% load static %}

{% block content %}
        <!-- Contenido -->
        
        <!-- Slideshow-->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active" id="slide1">
                    <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Premium</h2></div>
                </div>
                <div class="carousel-item" id="slide2">
                    <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Premium</h2></div>
                </div>
                <div class="carousel-item" id="slide3">
                    <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Premium</h2></div>
                </div>
                <div class="carousel-item" id="slide4">
                    <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Premium</h2></div>
                </div>
                <div class="carousel-item" id="slide5">
                    <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Premium</h2></div>
                </div>
            </div>
        </div>
        
        <!-- Descripción de la habitación -->
        <div class="list">
            <div>
                <ul>
                    <li>Suite privada de 70 mts</li>
                    <li>1 cama King Size</li>
                    <li>Baño completo</li>
                    <li>TV con cable</li>
                    <li>Internet</li>
                    <li>Minibar</li>
                    <li>Desayuno incluido</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Aire Acondicionado</li>
                    <li>Agua caliente</li>
                    <li>Secadora de cabello</li>
                    <li>Plancha</li>
                    <li>Escritorio</li>
                    <li>Armario</li>
                    <li>Almohadas de plumas</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Acceso a la piscina</li>
                    <li>Acceso al gimnasio</li>
                    <li>Acceso al restaurante</li>
                    <li>Acceso al bar</li>
                    <li>Acceso a la playa</li>
                    <li>Acceso al spa</li>
                    <li>Acceso al estacionamiento</li>
                </ul>
            </div>
        </div>

        <!-- Galería de imágenes -->
        
        <div style="margin-top: 30px">
            <div class="responsive">
                <div class="gallery" >
                    <a target="_blank" href="{% static 'img/galeria_premium5.jpeg' %}">
                        <img src="{% static 'img/galeria_premium5.jpeg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="{% static 'img/galeria_premium2.jpeg' %}">
                        <img src="{% static 'img/galeria_premium2.jpeg' %}" alt="Forest">
                    </a>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="{% static 'img/galeria_premium3.jpeg' %}">
                        <img src="{% static 'img/galeria_premium3.jpeg' %}" alt="Northern Lights">
                    </a>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="{% static 'img/galeria_premium4.jpeg' %}">
                        <img src="{% static 'img/galeria_premium4.jpeg' %}" alt="Mountains">
                    </a>
                </div>
            </div>

            <div class="responsive" style="margin-top: 15px">
                <div class="gallery" >
                    <a target="_blank" href="{% static 'img/galeria_premium1.jpeg' %}">
                        <img src="{% static 'img/galeria_premium1.jpeg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="responsive" style="margin-top: 15px">
                <div class="gallery" >
                    <a target="_blank" href="{% static 'img/galeria_premium6.jpg' %}">
                        <img src="{% static 'img/galeria_premium6.jpg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="responsive" style="margin-top: 15px">
                <div class="gallery" >
                    <a target="_blank" href="{% static 'img/galeria_premium7.jpeg' %}">
                        <img src="{% static 'img/galeria_premium7.jpeg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="responsive" style="margin-top: 15px">
                <div class="gallery" >
                    <a target="_blank" href="{% static 'img/galeria_premium8.jpeg' %}">
                        <img src="{% static 'img/galeria_premium8.jpeg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <!-- //Galería de imágenes -->
{% endblock %}