{% extends 'Base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Contenido -->

    <!-- Slideshow-->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active" id="slide11">
                <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Turista</h2></div>
            </div>
            <div class="carousel-item" id="slide21">
                <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Turista</h2></div>
            </div>
            <div class="carousel-item" id="slide31">
                <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Turista</h2></div>
            </div>
            <div class="carousel-item" id="slide41">
                <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Turista</h2></div>
            </div>
            <div class="carousel-item" id="slide51">
                <div style="position: absolute; z-index: 4; left: 50%; top: 90%; transform: translate(-50%, -50%);"><h2 style="color: white; font-size: 40pt">Habitación Turista</h2></div>
            </div>
        </div>
    </div>

    <!-- Descripción de la habitación -->
    <div class="list" style="display: flex; justify-content: space-around; align-items: start">
        <div>
            <ul>
                <li>Habitación privada de 52 mts</li>
                <li>1 cama Queen Size</li>
                <li>1 cama de niños opcional</li>
                <li>Baño completo</li>
                <li>TV con cable</li>
                <li>Internet</li>
                <li>Minibar</li>
                <li>Desayuno incluido</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Aire Acondicionado</li>
                <li>Agua caliente</li>
                <li>Secadora de cabello</li>
                <li>Plancha</li>
                <li>Escritorio</li>
                <li>Armario</li>
                <li>Almohadas de plumas</li>
            </ul>
        </div>
        <div >
            <ul>
                <li>Acceso a la piscina</li>
                <li>Acceso al restaurante</li>
                <li>Acceso a la playa</li>
                <li>Acceso al estacionamiento</li>
            </ul>
        </div>
    </div>

    <!-- Galería de imágenes -->

    <div style="margin-top: 30px">
        <div class="responsive">
            <div class="gallery" >
                <a target="_blank" href="{% static 'img/galeria_turista1.jpeg' %}">
                    <img src="{% static 'img/galeria_turista1.jpeg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="{% static 'img/galeria_turista2.jpeg' %}">
                    <img src="{% static 'img/galeria_turista2.jpeg' %}" alt="Forest">
                </a>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="{% static 'img/galeria_turista3.jpeg' %}">
                    <img src="{% static 'img/galeria_turista3.jpeg' %}" alt="Northern Lights">
                </a>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="{% static 'img/galeria_turista4.jpeg' %}">
                    <img src="{% static 'img/galeria_turista4.jpeg' %}" alt="Mountains">
                </a>
            </div>
        </div>

        <div class="responsive" style="margin-top: 15px">
            <div class="gallery" >
                <a target="_blank" href="{% static 'img/galeria_turista5.jpeg' %}">
                    <img src="{% static 'img/galeria_turista5.jpeg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="responsive" style="margin-top: 15px">
            <div class="gallery" >
                <a target="_blank" href="{% static 'img/galeria_turista6.jpeg' %}">
                    <img src="{% static 'img/galeria_turista6.jpeg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="responsive" style="margin-top: 15px">
            <div class="gallery" >
                <a target="_blank" href="{% static 'img/galeria_turista7.jpeg' %}">
                    <img src="{% static 'img/galeria_turista7.jpeg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="responsive" style="margin-top: 15px">
            <div class="gallery" >
                <a target="_blank" href="{% static 'img/galeria_turista8.jpeg' %}">
                    <img src="{% static 'img/galeria_turista8.jpeg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <!-- //Galería de imágenes -->

{% endblock %}